<div>
<header id="header" class="header fixed-top d-flex align-items-center">
    <div class="container d-flex align-items-center justify-content-between">
        <h1>GrocerGate<span>.</span></h1>
      <nav id="navbar" class="navbar">
        <ul>
          
         
          <li><a href="#hero"><b>Home</b></a></li>
          <li><a href="#menu"><b>Categories</b></a></li>
          <li><a  routerLink="login"><b>Hello,Sign in<br> Account</b></a></li>
          <li><a routerLink="login"><b>Returns<br> &Order</b></a></li>
          <li><a routerLink="login"><b>🛒<br>Cart</b></a></li>
          <li><a routerLink="about"><b>About Us</b></a></li>
          
          </ul>
      </nav><!-- .navbar -->
      <i class="mobile-nav-toggle mobile-nav-show bi bi-list"></i>
      <i class="mobile-nav-toggle mobile-nav-hide d-none bi bi-x"></i>
    </div>
  </header><!-- End Header -->
  <!-- ======= Hero Section ======= -->
<section id="hero" class="hero d-flex align-items-center section-bg">
  <div class="container">
    <div class="row justify-content-between gy-5">
      <div class="col-lg-5 order-2 order-lg-1 d-flex flex-column justify-content-center align-items-center align-items-lg-start text-center text-lg-start">
        <h2 data-aos="fade-up">Shop Smart ,
          <br>Eat Fresh</h2>
        <p data-aos="fade-up" data-aos-delay="100">Bringing the Market to Your Doorstep, Because Your Time is Precious.</p>
        <div class="d-flex" data-aos="fade-up" data-aos-delay="200">
          <a routerLink="/login" class="btn-book-a-table">Shop Now</a>
          
        </div>
      </div>
      <div class="col-lg-5 order-1 order-lg-2 text-center text-lg-start">
        <img src="assets/img/Mart11-.png" class="img-fluid" alt=""  data-aos="zoom-in" data-aos-delay="400" >
      </div>
    </div>
  </div>
</section><!-- End Hero Section -->


    <!-- ======= Menu Section ======= -->
    <section id="menu" class="menu">
      <div class="container" data-aos="fade-up">

        <div class="section-header">
          <h2>Categories</h2>
          <p>SHOP BY <span>CATEGORY</span></p>
        </div>

        <ul class="nav nav-tabs d-flex justify-content-center" data-aos="fade-up" data-aos-delay="200">

          <li class="nav-item">
            <a class="nav-link active show" data-bs-toggle="tab" data-bs-target="#fruits">
              <h4>Fruits & vegetables</h4>
            </a>
          </li><!-- End tab nav item -->

          <li class="nav-item">
            <a class="nav-link" data-bs-toggle="tab" data-bs-target="#Dairy">
              <h4>Dairy & bread</h4>
            </a><!-- End tab nav item -->

          <li class="nav-item">
            <a class="nav-link" data-bs-toggle="tab" data-bs-target="#drinks">
              <h4>Drinks & juices</h4>
            </a>
          </li><!-- End tab nav item -->

          <li class="nav-item">
            <a class="nav-link" data-bs-toggle="tab" data-bs-target="#nonveg">
              <h4>Eggs,meat & fish</h4>
            </a>
          </li><!-- End tab nav item -->
          <li class="nav-item">
            <a class="nav-link" data-bs-toggle="tab" data-bs-target="#Rice">
              <h4>Rice,atta & dal</h4>
            </a>
          </li><!-- End tab nav item -->
          <li class="nav-item">
            <a class="nav-link" data-bs-toggle="tab" data-bs-target="#clean">
              <h4>Cleaning & household</h4>
            </a>
          </li><!-- End tab nav item -->
          
        </ul>

        <div class="tab-content" data-aos="fade-up" data-aos-delay="300">

          <div class="tab-pane fade active show" id="fruits">

            <div class="tab-header text-center">
              
              <h3>Fruits & vegetables</h3>
            </div>

            <div class="row gy-5">

              <div class="col-lg-4 menu-item">
                <img src="assets/img/menu/_Leafy__Seasoning.jpg" class="menu-img img-fluid" alt="">
              
                <p class="ingredients">
                  Healthy n tasty.
                </p>
                
              </div><!-- Menu Item -->

              <div class="col-lg-4 menu-item">
            <img src="assets/img/menu/All_Fruits.jpg" class="menu-img img-fluid" alt="">
                
                <p class="ingredients">
                 Fresh n juicy .
                </p>
                
              </div><!-- Menu Item -->

              <div class="col-lg-4 menu-item">
                <img src="assets/img/menu/All_Vegetables.jpg" class="menu-img img-fluid" alt="">
                
                <p class="ingredients">
                  Yummy vegies
                </p>
                
              </div><!-- Menu Item -->

              <div class="col-lg-4 menu-item">
                <img src="assets/img/menu/Premium--exotic.jpg" class="menu-img img-fluid" alt="">
                
                <p class="ingredients">
                  Featured brands 
                </p>
                
              </div><!-- Menu Item -->

              <div class="col-lg-4 menu-item">
            <img src="assets/img/menu/Season_Special.jpg" class="menu-img img-fluid" alt="">
                
                <p class="ingredients">
                  Fresh Pomogranates , Apples, Custurd apple ,fresh pear ,and many more.
                </p>
                
              </div><!-- Menu Item -->

              <div class="col-lg-4 menu-item">
           <img src="assets/img/menu/6_Top_sellers.jpg" class="menu-img img-fluid" alt="">
                
                <p class="ingredients">
                  Check out our top selling items...
                </p>
                
              </div><!-- Menu Item -->

            </div>
          </div><!-- End Fruits & vege Content -->

          <div class="tab-pane fade" id="Dairy">

            <div class="tab-header text-center">
              
              <h3>Dairy & bread
              </h3>
            </div>

            <div class="row gy-5">

              <div class="col-lg-4 menu-item">
                <img src="assets/img/menu/bread.jpg" class="menu-img img-fluid" alt="">
                
                <p class="ingredients">
                  Fresh fruit bun for breakfast.
                </p>
                <p class="price">
                  25₹ 
                </p>
              </div><!-- Menu Item -->

              <div class="col-lg-4 menu-item">
                <img src="assets/img/menu/milkjpg.jpg" class="menu-img img-fluid" alt="">
                
                <p class="ingredients">
                  Milk ,1l
                </p>
                <p class="price">
                  70₹ 
                </p>
              </div><!-- Menu Item -->

              <div class="col-lg-4 menu-item">
                <img src="assets/img/menu/yogurt.jpg" class="menu-img img-fluid" alt="">
                
                <p class="ingredients">
                  Curd and yogurt.
                </p>
                <p class="price">
                  8.50₹ /100g
                </p>
              </div><!-- Menu Item -->

              <div class="col-lg-4 menu-item">
                <img src="assets/img/menu/paneer.jpg" class="menu-img img-fluid" alt="">
                
                <p class="ingredients">
                  Paneer block pouch,200g.
                </p>
                <p class="price">
                  85₹ 
                </p>
              </div><!-- Menu Item -->

              <div class="col-lg-4 menu-item">
                <img src="assets/img/menu/butter.jpg" class="menu-img img-fluid" alt="">
                
                <p class="ingredients">
                   Butter Pasteurised ,500g
                </p>
                <p class="price">
                  200₹ 
                </p>
              </div><!-- Menu Item -->

              <div class="col-lg-4 menu-item">
                <img src="assets/img/menu/bread1.webp" class="menu-img img-fluid" alt="">
                
                <p class="ingredients">
                  Fresh Breads.
                </p>
                <p class="price">
                  20₹ 
                </p>
              </div><!-- Menu Item -->

            </div>
          </div><!-- End Dairy & bread Content -->
          <div class="tab-pane fade" id="drinks">

            <div class="tab-header text-center">
              
              <h3>Drinks & juices
              </h3>
            </div>

            <div class="row gy-5">

              <div class="col-lg-4 menu-item">
               <img src="assets/img/menu/thumbup.jpg" class="menu-img img-fluid" alt="">
                <h4>Thums Up Soft Drink</h4>
                <p class="ingredients">
                  750 ml
                </p>
                <p class="price">
                 40₹
                </p>
              </div><!-- Menu Item -->

              <div class="col-lg-4 menu-item">
                <img src="assets/img/menu/sprite.jpg" class="menu-img img-fluid" alt="">
                <h4>Sprite Soft Drink</h4>
                <p class="ingredients">
                  750 ml
                </p>
                <p class="price">
                  40₹
                </p>
              </div><!-- Menu Item -->

              <div class="col-lg-4 menu-item">
               <img src="assets/img/menu/maza.jpg" class="menu-img img-fluid" alt="">
                <h4>Maaza Mango Drink</h4>
                <p class="ingredients">
                  1.2 l
                </p>
                <p class="price">
                  60₹
                </p>
              </div><!-- Menu Item -->

              <div class="col-lg-4 menu-item">
                <img src="assets/img/menu/realjpg.jpg" class="menu-img img-fluid" alt="">
                <h4>Mixed Fruit juice</h4>
                <p class="ingredients">
                  1 L
                </p>
                <p class="price">
                  104₹
                </p>
              </div><!-- Menu Item -->

              <div class="col-lg-4 menu-item">
                <img src="assets/img/menu/nescafe.webp" class="menu-img img-fluid" alt="">
                <h4>Nescafe ready to Drink Coffee</h4>
                <p class="ingredients">
                  180 ml
                </p>
                <p class="price">
                  41₹
                </p>
              </div><!-- Menu Item -->

              <div class="col-lg-4 menu-item">
                <img src="assets/img/menu/coconut.webp" class="menu-img img-fluid" alt="">
                <h4>Paper Boat Coconut Water</h4>
                <p class="ingredients">
                  Pack of 6 , 200 ml each
                </p>
                <p class="price">
                  200₹
                </p>
              </div><!-- Menu Item -->

            </div>
          </div><!-- End Drink & juices  Content -->
          <div class="tab-pane fade" id="nonveg">

            <div class="tab-header text-center">
              
              <h3>Eggs,meat & fish
              </h3>
            </div>

            <div class="row gy-5">

              <div class="col-lg-4 menu-item">
                <img src="assets/img/menu/Fresh_Chicken.jpg" class="menu-img img-fluid" alt="">
                
                <p class="ingredients">
                  Fresh to home Chicken curry cut ,480 to 500g Pack
                </p>
                <p class="price">
                  135₹
                </p>
              </div><!-- Menu Item -->

              <div class="col-lg-4 menu-item">
                <img src="assets/img/menu/Fish__seafood.jpg" class="menu-img img-fluid" alt="">
                
                <p class="ingredients">
                   Boneless Fillet ,250g Pack
                </p>
                <p class="price">
                  149₹
                </p>
              </div><!-- Menu Item -->

              <div class="col-lg-4 menu-item">
            <img src="assets/img/menu/Eggs.jpg" class="menu-img img-fluid" alt="">
                
                <p class="ingredients">
                  Fresh Eggs ,Pack of 6
                </p>
                <p class="price">
                  50₹
                </p>
              </div><!-- Menu Item -->

              <div class="col-lg-4 menu-item">
                <img src="assets/img/menu/ReadytoeatColdcuts.jpg" class="menu-img img-fluid" alt="">
                
                <p class="ingredients">
                Veg Frozen Snack
                </p>
                <p class="price">
                 236₹
                  
                </p>
              </div><!-- Menu Item -->

              <div class="col-lg-4 menu-item">
                <img src="assets/img/menu/Mutton__Lamb.jpg" class="menu-img img-fluid" alt="">
                
                <p class="ingredients">
                  Fresh Mutton & lamb ,  500g Pack
                </p>
                <p class="price">
                  200₹
                </p>
                
              </div><!-- Menu Item -->

              <div class="col-lg-4 menu-item">
                <img src="assets/img/menu/Frozen_all.jpg" class="menu-img img-fluid" alt="">
                
                <p class="ingredients">
                  For more login in to your account....
                </p>
                
              </div><!-- Menu Item -->

            </div>
          </div><!-- End Egg fish and meat Content -->
          <div class="tab-pane fade" id="clean">

            <div class="tab-header text-center">
             
              <h3>Cleaning & household</h3>
            </div>

            <div class="row gy-5">

              <div class="col-lg-4 menu-item">
                <img src="assets/img/menu/exo.webp" class="menu-img img-fluid" alt="">
                <h4>Exo Round Dishwash bar</h4>
                <p class="ingredients">
                  700 ml
                </p>
                <p class="price">
                  140₹
                </p>
              </div><!-- Menu Item -->

              <div class="col-lg-4 menu-item">
                <img src="assets/img/menu/surf_excel.webp" class="menu-img img-fluid" alt="">
                <h4>Surf Excel Matic</h4>
                <p class="ingredients">
                  2 L
                </p>
                <p class="price">
                  339₹
                </p>
              </div><!-- Menu Item -->

              <div class="col-lg-4 menu-item">
                <img src="assets/img/menu/harpic.jpg" class="menu-img img-fluid" alt="">
                <h4>Harpic Disinfectant Toilet Cleaner</h4>
                <p class="ingredients">
                  1 L (Pack of 2)
                </p>
                <p class="price">
                  350₹
                </p>
              </div><!-- Menu Item -->

              <div class="col-lg-4 menu-item">
                <img src="assets/img/menu/freshner.webp" class="menu-img img-fluid" alt="">
                <h4>Room Freshner for Home  & Office</h4>
                <p class="ingredients">
                  220 ml
                </p>
                <p class="price">
                  135₹
                </p>
              </div><!-- Menu Item -->

              <div class="col-lg-4 menu-item">
               <img src="assets/img/menu/tissue.jpg" class="menu-img img-fluid" alt="">
                <h4>Kitchen Tissue/Towel Paper Roll</h4>
                <p class="ingredients">
                  60 Pulls Per Roll
                </p>
                <p class="price">
                  150₹
                </p>
              </div><!-- Menu Item -->

              <div class="col-lg-4 menu-item">
              <img src="assets/img/menu/dettol.jpg" class="menu-img img-fluid" alt="">
                <h4>Dettol Antiseptic Liquid </h4>
                <p class="ingredients">
                  1 L
                </p>
                <p class="price">
                  320₹
                </p>
              </div><!-- Menu Item -->

            </div>
          </div><!-- End Cleaning Content -->

          <div class="tab-pane fade" id="Rice">

            <div class="tab-header text-center">
              
              <h3>Rice, atta & dal
              </h3>
            </div>

            <div class="row gy-5">

              <div class="col-lg-4 menu-item">
             <img src="assets/img/menu/moong.webp" class="menu-img img-fluid" alt="">
                <h4>Moong Dal</h4>
                <p class="ingredients">
                  500g
                </p>
                <p class="price">
                  73₹
                </p>
              </div><!-- Menu Item -->

              <div class="col-lg-4 menu-item">
             <img src="assets/img/menu/rice_.webp" class="menu-img img-fluid" alt="">
                <h4>Basmati Rice</h4>
                <p class="ingredients">
                  1 kg 
                </p>
                <p class="price">
                  180₹
                </p>
              </div><!-- Menu Item -->

              <div class="col-lg-4 menu-item">
                <img src="assets/img/menu/poha.webp" class="menu-img img-fluid" alt="">
                <h4>Poha/Flattened Red Rice</h4>
                <p class="ingredients">
                 500 g
                </p>
                <p class="price">
                  90₹
                </p>
              </div><!-- Menu Item -->

              <div class="col-lg-4 menu-item">
                <img src="assets/img/menu/soya_.webp" class="menu-img img-fluid" alt="">
                <h4>Soya Chunks</h4>
                <p class="ingredients">
                  1 kg
                </p>
                <p class="price">
                  150₹
                </p>
              </div><!-- Menu Item -->


              <div class="col-lg-4 menu-item">
                <img src="assets/img/menu/besan.webp" class="menu-img img-fluid" alt="">
                <h4>Besan</h4>
                <p class="ingredients">
                  Pure Chana Dal , 1 kg
                </p>
                <p class="price">
                  130₹
                </p>
              </div><!-- Menu Item -->
              <div class="col-lg-4 menu-item">
             <img src="assets/img/menu/Frozen_all.jpg" class="menu-img img-fluid" alt="">
                <h4>For more login to your Account..</h4>
                
                
              </div><!-- Menu Item -->
            </div>
          </div><!-- End Cleaning and household Content -->

        </div>
      </div>
      <br>
      <div class="text-center">
        <button routerLink="/login" type="button" class="btn btn-success"><b>Buy now</b></button>
      </div>
      
    </section><!-- End Category Section -->
    
    <section id="gallery" class="gallery section-bg">
      <div class="container" data-aos="fade-up">
  
        <div class="section-header">
          <h2>Features</h2>
          <p>Check <span>Our Features</span></p>
        </div>
  
        <div class="gallery-slider swiper">
          <div class="swiper-wrapper align-items-center">
            <div class="swiper-slide"><a class="glightbox" data-gallery="images-gallery" href="assets/img/menu/organic.jpg"><img src="assets/img/menu/organic.jpg" class="img-fluid" alt=""></a></div>
            <div class="swiper-slide"><a class="glightbox" data-gallery="images-gallery" href="assets/img/menu/tracking12.jpg"><img src="assets/img/menu/tracking12.jpg" class="img-fluid" alt=""></a></div>
            <div class="swiper-slide"><a class="glightbox" data-gallery="images-gallery" href="assets/img/menu/Best_price.jpg"><img src="assets/img/menu/Best_price.jpg" class="img-fluid" alt=""></a></div>
  
            <div class="swiper-slide"><a class="glightbox" data-gallery="images-gallery" href="assets/img/menu/fast.jpg"><img src="assets/img/menu/fast.jpg" class="img-fluid" alt=""></a></div>
            <div class="swiper-slide"><a class="glightbox" data-gallery="images-gallery" href="assets/img/menu/EasyPay.jpg"><img src="assets/img/menu/EasyPay.jpg" class="img-fluid" alt=""></a></div>
            
          </div>
          <div class="swiper-pagination"></div>
        </div>
  
      </div>
    </section><!-- End Gallery Section -->
  
    <footer id="footer" class="footer">

      <div class="container">
        <div class="row gy-3">
          <div class="col-lg-3 col-md-6 d-flex">
            <i class="bi bi-geo-alt icon"></i>
            <div>
              <h4>GrocerGate</h4>
              <p>
                
                <a routerLink="tnc"><b>Terms and conditions</b></a><br>
                
              </p>
            </div>
  
          </div>
  
          <div class="col-lg-3 col-md-6 footer-links d-flex">
            <i class="bi bi-telephone icon"></i>
            <div>
              <h4>Contact Us</h4>
              <p>
                <strong>Phone:</strong>7558743601<br>
                <strong>Email:</strong> sayyedbushra2001@gmail.com<br>
              </p>
            </div>
          </div>
          <div class="col-lg-3 col-md-6 footer-links">
            <h4>Follow Us</h4>
            <div class="social-links d-flex">
              <a href="#" class="twitter"><i class="bi bi-twitter"></i></a>
              <a href="#" class="facebook"><i class="bi bi-facebook"></i></a>
              <a href="#" class="instagram"><i class="bi bi-instagram"></i></a>
              <a href="#" class="linkedin"><i class="bi bi-linkedin"></i></a>
            </div>
          </div>
  
        </div>
      </div>
  
     
    </footer><!-- End Footer -->
    <!-- End Footer -->
</div>
    
  