<div class="form signup">
  <div class="form-content">
      <header>Welcome to GrocerGate🛒<br><span>Create Account</span></header>
      <form  #signupForm="ngForm" (ngSubmit)="save(signupForm)">
          <div class="field input-field">
              <label for="name">UserName</label>
              <input type="text" [(ngModel)]="username" name="username" #usernameInput="ngModel" class="form-control" id="name"
                  placeholder="Enter a UserName" required minlength="3">
              <div *ngIf="usernameInput.invalid && (usernameInput.dirty || usernameInput.touched)" class="error">
                  <div *ngIf="usernameInput.errors?.['required']">UserName is required.</div>
                  <div *ngIf="usernameInput.errors?.['minlength']">UserName must be at least 3 characters long.</div>
              </div>
          </div>

          <div class="field input-field">
              <label for="email">Email</label>
              <input type="email" [(ngModel)]="email" name="email" #emailInput="ngModel" class="form-control" id="email"
                  placeholder="Enter Email" required email>
              <div *ngIf="emailInput.invalid && (emailInput.dirty || emailInput.touched)" class="error">
                  <div *ngIf="emailInput.errors?.['required']">Email is required.</div>
                  <div *ngIf="emailInput.errors?.['email']">Invalid email format.</div>
              </div>
          </div>

          <div class="field input-field">
              <label for="password">Password</label>
              <input type="password" [(ngModel)]="password" name="password" #passwordInput="ngModel" class="form-control"
                  id="password" placeholder="Enter Password" required minlength="6">
              <div *ngIf="passwordInput.invalid && (passwordInput.dirty || passwordInput.touched)" class="error">
                  <div *ngIf="passwordInput.errors?.['required']">Password is required.</div>
                  <div *ngIf="passwordInput.errors?.['minlength']">Password must be at least 6 characters long.</div>
              </div>
          </div>

          <button type="submit" class="btn btn-primary">SignUp</button>
          <div class="form-link">
              <span><b>Already have an account?</b> <a routerLink="/login" class="link login-link"><h5>Login</h5></a></span>
          </div>

          <div class="line"></div>
         
      </form>
  </div>
</div>
