<div class="about-us-container">
    <div class="about-us-header">
      
      <h1>About GrocerGate</h1>
      <p>We are a grocery delivery application that makes it easy to get your groceries delivered to your door in minutes.</p>
    </div>
    <div class="about-us-body">
      <div class="about-us-image">
        <img src="/assets/img/about.png" alt="Grocery delivery image">
      </div>
      <div class="about-us-text">
        <p>We believe that everyone should have access to fresh, healthy food, regardless of where they live or how busy they are. That's why we make it easy to get your groceries delivered to your door in minutes.</p>
        <p>We offer a wide variety of groceries from your favorite brands, and we deliver them to your door in minutes. We also offer a variety of convenient features, such as same-day delivery and scheduled delivery.</p>
        <p>Our mission is to make grocery shopping easy and convenient for everyone. We want you to be able to spend less time shopping for groceries and more time doing the things you love.</p>
      </div>
    </div>
  </div>
  